.clsfooterpage {
  padding: 0px 60px;
  @include res(768px) {
    padding: 0px 20px;
  }

  border-top: 1px solid rgba(255, 255, 255, 0.12);

  &-content {
    display: flex;
    padding: 64px 0px;
    @include res(768px) {
      padding: 40px 0px;
    }
    @include res(520px) {
      flex-direction: column;
    }
  }
  &-social {
    flex-basis: 35%;
    @include res(768px) {
      min-width: 200px;
    }
    @include res(520px) {
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }
    .logo {
      max-width: 178px;
      height: auto;
      width: 100%;
      @include res(768px) {
        max-width: 125px;
      }
    }
    .icon {
      width: 50px;
      height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.12);
      @include res(768px) {
        width: 40px;
        height: 40px;
      }
    }
    .mr-8 {
      margin-right: 8px;
    }
  }
  &-connect {
    margin-top: 48px;
    @include res(768px) {
      margin-top: 20px;
    }
  }
  &-page {
    color: $white;
    flex-basis: 50%;
    @include res(960px) {
      flex-basis: 65%;
    }
  }
  &-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 32px;
  }
  &-category {
    display: flex;
    list-style: none;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
    li > a {
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.3px;
       position: relative;
      color: rgba(255, 255, 255, 0.7);
      &:hover::after {
        width: 100%;
        transition: width 0.5s ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background: $purple;
        width: 0%;
        height: 2px;
      }
    }
  }
  &-coppyright {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    @include res(520px) {
      flex-direction: column-reverse;
    }
    p {
      color: $white;
    }
    &__privacy {
      display: flex;
      @include res(520px) {
        margin-bottom: 15px;
      }
      p:first-child {
        margin-right: 32px;
      }
      p {
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 1.3px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
