.clsheaderpage {
  &-content {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 85px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 485px;
      z-index: 99;
      background: linear-gradient(
        $black-gradient 0%,
        $black-gradient-primary 100%
      );
    }
    @include res(768px) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0px;
        z-index: 99;
        background: linear-gradient(
          $black-gradient 0%,
          $black-gradient-primary 100%
        );
      }
    }
  }
  &-content.nobg {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0px;
      height: 0px;
      z-index: 0;
      background: none;
    }
  }
  &-logo {
    margin-right: auto;
  }
  &-navbar {
    display: flex;
    background: #000;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 60px;
    @include res(768px) {
      padding: 20px;
    }
    .icon-burger {
      display: none;

      @include res(768px) {
        display: block;
        cursor: pointer;
      }
      position: absolute;
      right: 5%;
      top: 50%;
      z-index: 9999;
      transform: translateY(-50%);
    }
    .icon-burger .line {
      width: 30px;
      height: 5px;
      background-color: $white;
      margin: 5px;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
    @media screen and (max-width: 768px) {
      .icon-burger.active {
        .line:nth-child(1) {
          transform: translateY(10px) rotate(225deg);
        }
      }
      .icon-burger.active {
        .line:nth-child(3) {
          transform: translateY(-10px) rotate(-225deg);
        }
      }
      .icon-burger.active {
        .line:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }
  &-link {
    display: flex;
    list-style: none;
    align-items: center;
    // margin-right: 240px;
    @include res(1024px) {
    }

    li > a {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1.3px;
      color: $white;
      text-decoration: none;
      position: relative;
      &:hover::after {
        width: 100%;
        transition: width 0.5s ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background: $purple;
        width: 0%;
        height: 2px;
      }
      @include res(768px) {
        font-size: 20px;
      }
    }
    &__item.active {
      a {
        // color: $purple;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          background: $purple;
          width: 100%;
          height: 2px;
        }
      }
    }
    &__item {
      margin-right: 32px;
      &:nth-child(3) {
        margin-right: 240px;
      }
      @include res(1024px) {
        &:nth-child(3) {
          margin-right: 32px;
        }
      }
      @include res(768px) {
        margin-right: 0px;
        padding: 30px;

        &:nth-child(3) {
          margin-right: 0px;
        }
      }
    }
    @include res(768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      &.active {
        background: rgba(0, 0, 0, 0.8);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }
  }
  &-button {
    width: 136px;
    height: 37px;
    border-radius: 4px;
    background: $purple-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    a {
      color: $white;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 10%;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
.disable-scrolling {
  overflow-y: hidden;
}
