.clsheaderpage {
  &-content {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 85px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 485px;
      z-index: 99;
      background: linear-gradient(
        $black-gradient 0%,
        $black-gradient-primary 100%
      );
    }
  }
  &-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 60px;
  }
  &-link {
    list-style: none;
    display: flex;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 10%;
  }
  &-button {
    width: 136px;
    height: 37px;
    border-radius: 4px;
    background: $purple-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    a {
      color: $white;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 10%;
    }
  }
}
