.clsforminput {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  &-label {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    font-family: "ClashDisplay-Regular";
    color: $white;
  }
  &-input {
    margin-top: 8px;
    height: 68px;
    padding: 8px 12px;
    color: $white;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: transparent;
    &:focus-visible {
      border: none;
      outline: 1px solid rgba(255, 255, 255, 0.3);
    }
    ::-webkit-input-placeholder {
      /* Edge */
      color: $white-primary;
    }
  }
  &-textarea {
    margin-top: 8px;
    height: 176px;
    padding: 8px 12px;
    color: $white;
    width: 100%;
    max-width: 500px;
    resize: none;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: transparent;
    &:focus-visible {
      border: none;
      outline: 1px solid rgba(255, 255, 255, 0.3);
    }
    ::-webkit-input-placeholder {
      /* Edge */
      color: $white-primary;
    }
  }
}
