.clsproductpreview {
  flex-basis: 60%;
  @include res(1300px) {
    flex-basis: 55%;
  }
  @include res(1024px) {
    flex-basis: 50%;
  }
   @include res(900px) {
    flex-basis: 60%;
  }
  &-content {
    img {
      width: 100%;
      height: auto;
    }
  }
}
