.clswebabout {
  &-content {
    width: 1440px;
    margin: 0px auto;
    display: flex;
    margin-top: 60px;
    padding: 0px 60px;
    @include res(1460px) {
      width: 100%;
    }
    @include res(768px) {
      padding: 0px 20px;
    }
    @include res(600px) {
      flex-direction: column-reverse;
    }
  }
}
