.clswebcontact {
  padding: 150px 0px 160px 0px;
  @include res(768px) {
    padding: 100px 0px;
  }
  @include res(768px) {
    padding: 40px 0px;
  }
  @include res(400px) {
    padding: 20px 0px;
  }
  &-content {
    display: flex;
    width: 1480px;
    margin: 0 auto;
    padding: 0px 60px;
    @include res(1500px) {
      width: 100%;
    }
    @include res(1300px) {
      justify-content: space-between;
    }
    @include res(768px) {
      padding: 0px 20px;
    }
    @include res(600px) {
      flex-direction: column;
    }
    @include res(400px) {
      padding: 0px 10px;
    }
  }
  &-title {
    font-family: "ClashDisplay-Semibold";
    font-weight: 600;
    font-size: 96px;
    line-height: 125px;
    letter-spacing: 6.5px;
    color: $white;
    text-transform: uppercase;
    margin-right: 135px;
    @include res(1300px) {
      margin-right: 25px;
      flex-shrink: 0;
    }
    @include res(600px) {
      margin-right: 0px;
    }
  }
  h1 {
    font-family: "ClashDisplay-Semibold";
    font-weight: 600;
    font-size: 96px;
    line-height: 125px;
    letter-spacing: 6.5px;
    color: $white;
    text-transform: uppercase;
    @include res(1024px) {
      font-size: 72px;
      line-height: 110px;
    }
    @include res(900px) {
      font-size: 60px;
      line-height: 90px;
    }
    @include res(768px) {
      font-size: 50px;
      line-height: 70px;
    }
    @include res(700px) {
      font-size: 45px;
      line-height: 65px;
    }
    @include res(400px) {
      font-size: 35px;
      line-height: 55px;
    }
  }
}
